streamlit==1.31.0
pandas==2.1.0
plotly==5.18.0
fpdf2==2.7.8         # ✅ ใช้เวอร์ชันล่าสุดที่รองรับ Unicode
streamlit-extras==0.3.5
streamlit-plotly-events==0.0.6
openpyxl==3.1.2
matplotlib==3.8.0
numpy==1.26.0
